@import url(./__background/popup__background.css);
@import url(./__container/popup__container.css);
@import url(./__container/_type/popup__container_type_image.css);
@import url(./__container/_type/popup__container_type_avatar.css);
@import url(./__container/_type/popup__container_type_remove-card.css);
@import url(./__close/popup__close.css);
@import url(./__field/popup__field.css);
@import url(./__field/_type/popup__field_type_error.css);
@import url(./__field/_type/popup__field_type_remove-card.css);
@import url(./__save/popup__save.css);
@import url(./__save/_disabled/popup__save_disabled.css);
@import url(./__title/popup__title.css);
@import url(./__figure/popup__figure.css);
@import url(./__image/popup__image.css);
@import url(./__image-title/popup__image-title.css);
@import url(./__error/_visible/popup__error_visible.css);
.popup {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: visibility 0.5s linear, opacity 0.5s linear;
}