@import url(./__card/places__card.css);
@import url(./__like-btn/places__like-btn.css);
@import url(./__like-btn_active/places__like-btn_active.css);
@import url(./__like-box/places__like-box.css);
@import url(./__counter/places__counter.css);
@import url(./__location/places__location.css);
@import url(./__picture/places__picture.css);
@import url(./__remove/places__remove.css);
@import url(./__list/places__list.css);
.places {
    max-width: 880px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    justify-content: center;
}