.popup__container {
    background-color: #fff;
    color: #000;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 430px;
    min-width: 282px;
    margin: 0;
    padding: 34px 36px 36.51px 36px;
    box-sizing: border-box;
    position: relative;
}

@media screen and (max-width: 480px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 22px;
    }
}