@import url(./_title/popup__container_title.css);
@import url(./_save/popup__container_save.css);
@import url(./_field-a/popup__container_field-a.css);
@import url(./_field-b/popup__container_field-b.css);
@import url(./_close/popup__container_close.css);
.popup__container {
    background-color: #fff;
    color: #000;
    position: fixed;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 430px;
    height: 330px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@media screen and (max-width: 1023px) {
    .popup__container {
        width: 282px;
        height: 322px;
    }
}