@import url(./__add-pic/profile__add-pic.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__profile-info/profile__profile-info.css);
.profile {
    max-width: calc(1280px - (200px*2));
    margin: 0 auto 50px auto;
    padding: 0;
    display: flex;
}

@media screen and (max-width: 1023px) {
    .profile {
        max-width: calc(320px - (19px*2));
        display: block;
        margin-bottom: 36px;
    }
}