.places__remove {
    background: url(../../../images/remove.svg) center no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 19px;
    top: 18px;
    right: 15px;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s linear 0s;
}

.places__remove:hover {
    opacity: 0.6;
}