.places__card_like-btn {
    width: 21px;
    height: 18px;
    margin: 0 15px 5px 0;
    padding: 0;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: opacity 1s linear 0s;
}

.places__card_like-btn:hover {
    opacity: 0.5;
}