@import url(./_btn/profile__profile-info_edit-box_btn.css);
.profile__profile-info_edit-box {
    width: 24px;
    height: 24px;
    margin: 15px 0 0 18px;
    padding: 0;
    display: flex;
    border: 1px solid #fff;
}

@media screen and (max-width: 1023px) {
    .profile__profile-info_edit-box {
        width: 18px;
        height: 18px;
        margin: -10px 0 0 10px;
    }
}