.places__like-btn {
    background: url(../../../images/like.svg) center no-repeat;
    border: none;
    outline: none;
    background-size: 100%;
    width: 21px;
    height: 18px;
    margin: 0 15px 0 0;
    padding: 20px 0 0 0;
    display: inline-block;
    cursor: pointer;
    transition: opacity 1s linear 0s;
}

.places__like-btn:hover {
    opacity: 0.5;
}