.places__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 21px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .places__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 660px) {
    .places__list {
        grid-template-columns: auto;
    }
}