.profile__profile-info {
    margin: 22px 0 0 30px;
    padding: 0;
    max-width: 415px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
    .profile__profile-info {
        margin: 30px 0 0 0;
        max-width: 275px;
        height: 50px;
        justify-content: center;
    }
}