.popup__close {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/close.svg);
    background-position: center;
    border: none;
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(50% - 200px);
    right: calc(50% - 250px);
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.5s linear 0s;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1023px) {
    .popup__close {
        width: 26px;
        height: 26px;
        top: calc(50% - 230px);
        right: calc(50% - 140px);
    }
}