.popup__container_field-a {
    margin: 54px 36px 0 36px;
    padding: 0;
    width: 358px;
    height: 28px;
    font-size: 14px;
    line-height: 1.2;
    border: none;
    border-bottom: 1px solid #d1d1d1;
}

@media screen and (max-width: 1023px) {
    .popup__container_field-a {
        margin: 75px 22px 0 22px;
        width: 238px;
    }
}