@import url(./__copyright/footer__copyright.css);
.footer {
    max-width: calc(1280px - (200px*2));
    margin: 66px auto 0 auto;
    padding: 0 0 60px 0;
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: calc(320px - (19px*2));
        margin-top: 48px;
        padding-bottom: 36px;
    }
}