.popup__title {
    line-height: 1.2;
    font-weight: 900;
    font-size: 24px;
    margin: 34px 0 0 36px;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .popup__title {
        font-size: 18px;
        margin: 25px 0 0 22px;
    }
}