.profile__edit-box {
    width: 24px;
    height: 24px;
    margin: 15px 0 0 18px;
    padding: 0;
    display: flex;
    border: 1px solid #fff;
    background-color: #000;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
}

.profile__edit-box:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1023px) {
    .profile__edit-box {
        width: 18px;
        height: 18px;
        margin: 0 0 0 10px;
    }
}